.card {
    height: 450px;
    width: 450px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #bfbfbf;
    margin: auto;
    border-radius: 20px;
}
.card h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}

label {
     display: block;
     padding: 10px;
}

input {
    padding: 10px;
    border-radius: 8px;
}
button {
    display: block;
    margin: 10px auto;
    border: none;
    padding: 16px;
    background-color: greenyellow;
    border-radius: 10px;
    cursor: pointer;
}